<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

    <display-name>Archetype Created Web Application</display-name>
    <!-- 初始化jsp设置-->
    <jsp-config>
        <jsp-property-group>
            <!-- 拦截所有jsp文件 -->
            <url-pattern>*.jsp</url-pattern>
            <!-- 允许使用el表达式 -->
            <el-ignored>false</el-ignored>
            <!-- 不允许在页面中使用java脚本 -->
            <scripting-invalid>true</scripting-invalid>
            <!-- 给所有的jsp页面导入要依赖的库，taglib.jsp就是一个全局的标签文件 -->
            <include-prelude>/WEB-INF/jsps/taglib.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <error-code>403</error-code>
        <location>/static/error/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/static/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/static/error/500.html</location>
    </error-page>
</web-app>
